<!-- Contenedor principal-->
<div class="content" *ngIf="literals">
  <h1>{{literals.titleMovies}}</h1>

  <!-- Componente para el filtrado-->
  <div class="filter-data">
    <app-filter-data
      [literals]="literals"
      [dataListAll]="dataListAll"
      (propagationFilter)="propagationFilter($event)"
    >
    </app-filter-data>
  </div>

  <!-- Paginación de la tabla-->
  <div *ngIf="dataListShow && dataListShow.length > 0" class="paginator">
    <span>{{literals.paginatorShow}} {{controlFirtsPagination}} {{literals.paginatorA}} {{controlLastPagination}} {{literals.paginatorThe}} {{dataListFilter.length}}</span> |
        <button (click)="showPage('previous')" [disabled]="disabledPaginator('previous')">{{literals.paginatorPrevious}}</button> |
        <button (click)="showPage('next')" [disabled]="disabledPaginator('next')">{{literals.paginatorNext}}</button>
  </div>

  <!-- Tabla-->
  <div *ngIf="dataListShow && dataListShow.length > 0">
    <table class="table-width" >
      <thead>
          <tr>
              <td class="cell-long">{{literals.tableTitle}} <i class="fas fa-sort" style="cursor: pointer;" (click)="orderColumn('title')"></i></td>
              <td class="cell-small">{{literals.tableYear}} <i class="fas fa-sort" style="cursor: pointer;" (click)="orderColumn('year')"></i></td>
              <td class="cell-medium">{{literals.tableDirector}} <i class="fas fa-sort" style="cursor: pointer;" (click)="orderColumn('director')"></i></td>
              <td class="cell-medium">{{literals.tableCast}} <i class="fas fa-sort" style="cursor: pointer;" (click)="orderColumn('cast')"></i></td>
              <td class="cell-medium">{{literals.tableGender}} <i class="fas fa-sort" style="cursor: pointer;" (click)="orderColumn('genre')"></i></td>
              <td class="cell-long">{{literals.tableNotes}} <i class="fas fa-sort" style="cursor: pointer;" (click)="orderColumn('notes')"></i></td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of dataListShow">
              <td class="cell-long" title="{{data.title}}">{{data.title}}</td>
              <td class="cell-small" title="{{data.year}}">{{data.year}}</td>
              <td class="cell-medium" title="{{data.director}}">{{data.director}}</td>
              <td class="cell-medium" title="{{data.cast}}">{{data.cast}}</td>
              <td class="cell-medium" title="{{data.genre}}">{{data.genre}}</td>
              <td class="cell-long" title="{{data.notes}}">{{data.notes}}</td>
          </tr>

      </tbody>
      </table>
  </div>

  <!-- Mensaje informativo de no obtencion de resultados al filtrar -->
  <div *ngIf="dataListShow && dataListShow.length <= 0 && controlLastPagination === 0" class="paginator">
    <img src="../../assets/sin_resultados.png" class="img-thumbnail">
    <h2>Sin resultados, vuelva aplicar un nuevo filtro o resetea el filtro</h2>
  </div>
</div>
